<p id="notice"><%= notice %></p>



<% Teamplayer.all.collect do |player| %>
  <% #if player.team_id ==  @team.id %>
  <tr>
      <td><% Player.find(player.player_id).first_name %></td>
      <td><% Player.find(player.player_id).position %></td>
      <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
  <%#end%>
<%end%>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
