<h1>Welcome to champions liga</h1>
<p><%= link_to 'Sign up as player', new_player_path %></p>
<p><%= link_to 'Sign up as organizer', new_organizer_path%></p>
<p><%= link_to 'Login', new_sessions_path %></p>
