html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  background-color: #dcdcdc;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 18px;
  margin: 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

header {
  padding: 1em;
}

.navbar {
  background: #e2e2e2;
  .toggle, .brand {
    display: inline-block;
  }
  .link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #333333;
    opacity: 0.8;
    color: white;
    &:hover,&:active {
      background: #990000;
      opacity: 0.8;
    }
  }
  .brand {
    width: 10em;
    text-align: center;
    padding: 0.5em;
    background: #333333;
    opacity: 0.8;
    color: white;
  }
  .toggle {
    padding: 1em;
    color: black;
    vertical-align: middle;
  }
}

@media (min-width: 48em) {
    .navbar {
      display: flex;
      .left,.right {
        display: flex;
        flex: 1;
      }
      .link {
          width: auto;
      }
      .right {
        justify-content: flex-end;
      }
      .toggle {
        display: none;
      }
    }
}

.navbar {
  div {
    display: none;
    @media (min-width: 48em) {
      display: flex;
    }
  }
}

@media (max-width: 48em) {
.navbar.active {
  .toggle {
    background: seagreen;
    color: white;
  }
  div {
    display: block;
    }
  }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#toolh{
  position:absolute;

  margin-left:50%;
  bottom:18px;
  color: black;
  font-size: 20px;
}
