html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 18px;
  margin: 33px;
}

nav#main-menu, #logo {
  display: inline-block;
  vertical-align: middle;
}

nav#main-menu {
  margin-left: 1%;
  a {
    border-radius: 13px;
    color: #ffffff;
    background-color: #00319c;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid #aaa;
  }
  a:hover {
    color: #1b95e0;
  }

}
nav#logout {

}
#logo img{
  width: 70px
}
