// Place all the styles related to the nominates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#cancha{
  float:center;
  WIDTH:178;
  HEIGHT:180;
  margin-left: 35%
}
div#tablas{

  float:left;
}
td#arquero{
  float:center;
  margin-left: 35%
}
td#defensa{
  float:center;
  margin-left: 35%
}
