<div id="project">ChampionsLiga created by Nicolas Julio - Cristobal Abarca</div>
  <div>
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>
    <a href="http://www.fifa.com/">News</a>
  </div>
</div>
