
<nav id="main-menu" >
  <%= link_to 'Teams', teams_path %>
  <%= link_to 'Tournaments', tournaments_path %>
  <span id="logout"><%= link_to 'Logout', sessions_path, method: :delete %></span>
</nav >
  <p id="perfil"><%=link_to 'Perfil '+current_player.first_name, current_player%></p>
